html {
  font-size: 100%; /* Default: 16px */
}

body {
  background-color: #FFF2FF;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh; 
  margin-bottom: 0px;
  padding: 0 10px;
}

.logo {
  width: 5em;
  height: 5em;
}

.logo:hover {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
  box-sizing: border-box;
  margin-bottom: 20px;
}

.navLink {
  font-weight: bold;
  font-size: 1.4em;
  color: black;
  text-decoration: none;
}

#about {
  border: solid 4px #2D1674;
  border-radius: 1em;
  padding: 0.4em 0.8em 0.4em 0.8em;
}

#projects:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  gap: 60px;
  align-items: center;
}

.dPurpleBtn {
  background-color: #2D1674;
  color: white;
  font-size: 1.3em;
  border: solid 2px #2D1674;
  border-radius: 10px;
  height: 2.2em;
  font-weight: bold;
  width: 12em;
  text-align: center;
}

.dPurpleBtn:hover {
  background: linear-gradient(#2D1674, white);
  cursor: pointer;
}

.row {
  display: flex;
  width: 96%;
  padding: 7px 15px;
  box-sizing: border-box;
  margin: auto;
  gap: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.borderBox {
  border: solid 4px #2D1674;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 7px 15px;
  width: 32%;
}

h3 {
  font-size: 1.3em;
  margin-top: 5px;
  margin-bottom: 0px;
}

ul {
  padding-left: 20px;
}

.contanctInfo {
  text-decoration: underline;
  color:#2D1674;
}

.btnBox {
  display: flex;
  justify-content: center;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.8em;
}

.aboutFlex {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 99%;
}

.pic {
  height: 13em;
  width: 13em;
  border-radius: 20px;
}

.shapes {
  position: relative;
  overflow: hidden; /* Prevent scrolling caused by overflow */
  height: 50px;
}

#d1 {
  position: absolute;
  bottom: -50px;
  background-color: #2D1674;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  left: -2%;
  display: inline-block;
}

#d2 {
  position: absolute;
  bottom: -20px;
  background-color: transparent;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  display: inline-block;
  border: solid 4px #9271C2;
  left: 9%;
}

#d3 {
  position: absolute;
  bottom: -10px;
  background-color: #2D1674;
  height: 3.2em;
  width: 3.2em;
  border-radius: 50%;
  display: inline-block;
  left: 18%;
}

#d4 {
  position: absolute;
  bottom: -40px;
  background-color: #9271C2;
  height: 5.5em;
  width: 5.5em;
  border-radius: 50%;
  display: inline-block;
  left: 26%;
}

#d5 {
  position: absolute;
  bottom: -30px;
  background-color: transparent;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  display: inline-block;
  border: solid 4px #2D1674;
  left: 37%;
}

#d6 {
  position: absolute;
  bottom: -48px;
  background-color: transparent;
  height: 5.6em;
  width: 5.6em;
  border-radius: 50%;
  display: inline-block;
  border: solid 4px #9271C2;
  left: 44%;
}

#d7 {
  position: absolute;
  bottom: -19px;
  background-color: #2D1674;
  height: 2.7em;
  width:2.7em;
  border-radius: 50%;
  display: inline-block;
  left: 57%;
}

#d8 {
  position: absolute;
  bottom: -8px;
  background-color: #9271C2;
  height: 3.3em;
  width:3.3em;
  border-radius: 50%;
  display: inline-block;
  left: 68%;
}

#d9 {
  position: absolute;
  bottom: -20px;
  background-color: #2D1674;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  display: inline-block;
  left: 77%;
}

#d10 {
  position: absolute;
  bottom: -25px;
  background-color: transparent;
  height: 3.6em;
  width: 3.6em;
  border-radius: 50%;
  display: inline-block;
  border: solid 4px #9271C2;
  left: 86%;
}

#d11 {
  position: absolute;
  bottom: -20px;
  background-color: transparent;
  height: 3.6em;
  width: 3.6em;
  border-radius: 50%;
  display: inline-block;
  border: solid 4px #2D1674;
  right: -2.5%;
}

@media (max-width: 768px) {
  nav {
    gap: 50px;
  }

  h3 {
    font-size: 1.2em;
  }

  .row {
    flex-direction: column;
  }

  .borderBox {
    width: 100%;
  }

  .aboutFlex {
    flex-direction: column;
    text-align: center;
  }

  .pic {
    height: 12em;
    width: 9.8em;
    margin-bottom: 10px;
  }

  #d2 {
    left: 20%;
  }

  #d3 {
    left: 37%;
  }

  #d4 {
    left: 52%;
  }

  #d5 {
    left: 76%;
  }

  #d6 {
    display: none;
  }

  #d7 {
    display: none;
  }

  #d8 {
    left:auto;
    right: -3%;
  }

  #d9 {
    display: none;
  }

  #d10 {
    display: none;
  }

  #d11 {
    display: none;
  }
}