html {
  font-size: 100%;
}

body {
  background-color: #FFF2FF;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 10px;
}

#logo {
  width: 5em;
  height: 5em;
}

#logo:hover {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
  box-sizing: border-box;
  margin-bottom: 20px;
}

.navLink {
  font-weight: bold;
  font-size: 1.4em;
  color: black;
  text-decoration: none;
}

#projects {
  text-decoration: underline;
}

#about:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  gap: 60px;
  align-items: center;
}

h3 {
  font-size: 1.3em;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.flexyBox {
  display: flex;
  gap: 22px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 10px 12px;
  width: 90%; /* Adjust as needed */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.flexyBox::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 calc(50% - 10px);
  scroll-snap-align: start;
  min-width: 265px;
  padding: 7px 15px;
  border: solid 4px #2D1674;
  border-radius: 20px;
  box-sizing: border-box;
  height: 65vh;
}

.box:hover {
  animation: grow 0.5s ease-in-out forwards;
  cursor: pointer;
}

.scroll-btn {
  background-color: #2D1674;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}

.scroll-btn:hover {
  background: linear-gradient(#9271C2, #2D1674);
}

.scroll-btn.left {
  margin-right: 10px;
}

.scroll-btn.right {
  margin-left: 10px;
}

.title {
  text-align: center;
  color: #2D1674;
  text-shadow: 2px 2px 4px #FFF2FF;
}

.skillsApplied {
  text-align: center;
  font-weight: bold;
  margin-top: auto;
}

.coloredDot {
  color: #9271C2;
}


body.dark-mode {
  background-color: #110c23;
  color: #FFF2FF;
}

body.dark-mode .navLink {
  color: #FFF2FF;
}


#modeBtn {
  height: 3em;
  width: 3em;
}

#modeBtn:hover {
  cursor: pointer;
}

body.dark-mode .contact {
  background-color: #9271C2;
  border-color: #2D1674;
  color:#FFF2FF
}

body.dark-mode .contact:hover {
  background-color: #2D1674;
  border-color: #9271C2;
  color:#FFF2FF
}

body.dark-mode .box {
  border-color: #9271C2;
}

body.dark-mode .scroll-btn {
  background-color: #9271C2;
}

body.dark-mode .scroll-btn:hover {
  background: linear-gradient(#2D1674, #9271C2, white);
}

body.dark-mode  .title {
  text-align: center;
  color: #FFF2FF;
  text-shadow: 2px 2px 4px #9271C2;
}


.contact {
  font-weight: bold;
  font-size: 1.4em;
  background-color: #2D1674;
  border: 2px #9271C2 solid;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.contact:hover {
  background-color: #9271C2;
  border: 2px #2D1674 solid;
}

@keyframes grow {
  0% {
    transform: scale(1); /* Start at original size */
  }
  100% {
    transform: scale(1.05); /* Grow by 20% */
  }
}

@media (max-width: 768px) { 
  #logo {
    height: 4em;
    width: 4em;
  }

  nav {
    gap: 15px;
  }

  .navLink {
    font-size: 1.3em;
  }

  .contact {
    font-size: 1.3em;
  }

  .dPurpleBtn {
    font-size: 1.2em;
    height: 2.7em;
    width: 9em;
  }

  #modeBtn {
    height: 2.4em;
    width: 2.4em;
  }

  h3 {
    font-size: 1.2em;
  }

}